* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --color-clr1: #474b4f;
  --color-clr2: #ec0b43;
  --color-clr2-variant: #4acb2a;
  --color-white: #fff;
  --color-light: #d1d7e0;
  --color-black: #000;
  --color-bg: #141515;
  --color-bg1: #4acb2a;
  --color-bg2: #6d03dd;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background: var(--color-bg);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: var(--color-white);
}

/*img {
    width: 100%;
    display: block;
    object-fit: cover;
}*/

.header-image {
  position: absolute;
  right: 0rem;
  top: 1rem;
  width: 70%;
  height: 68vh;

  -webkit-mask-image: url("C:\Users\csuilea\Box\Site\Issima_Web_Development\images\splash.png");
  -webkit-mask-size: cover;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.btn {
  display: inline-block;
  background: var(--color-clr2);
  color: var(--color-white);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  border-radius: 10px;
  font-weight: 500;
  transition: var(--transition);
}

.btn:hover {
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}

.btn-primary {
  background: var(--color-clr2);
  color: var(--color-white);
}

/*--------------------NavBar----------------*/
nav {
  background: transparent;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}

.logo img {
  height: 5rem;
}

/* change navbar styles on scroll using JS */
.window-scroll {
  background: var(--color-bg2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  display: none;
}

.nav_menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.color-picker > fieldset {
  border: 0;
  display: flex;
  gap: 2rem;
  width: fit-content;
}

.color-picker input[type="radio"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  outline: 3px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
}

.color-picker input[type="radio"]:checked {
  background-color: var(--radio-color);
}

.color-picker input[type="radio"]#dark {
  --radio-color: var(--color-clr1);
}

.color-picker input[type="radio"]#light {
  --radio-color: var(--color-light);
}

:root:has(#light:checked) {
  --color-clr1: #474b4f;
  --color-clr2: #ec0b43;
  --color-clr2-variant: #93032e;
  --color-white: #fff;
  --color-light: #08090a;
  --color-black: #000;
  --color-bg: #f4faff;
  --color-bg1: #93032e;
  --color-bg2: #84894a;
}

.nav_menu a {
  font-size: 1rem;
  transition: var(--transition);
}

.nav_menu a:hover {
  color: var(--color-bg1);
  font-weight: bold;
}

/*--------------------Header----------------*/
header {
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
}

.header_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
}

.header_left h1 {
  color: var(--color-clr2);
  font-size: 8rem;
  position: absolute;
  transform: translate(0%, -110%);
}

.header_left h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px var(--color-clr2);
}

.header_left h1:nth-child(2) {
  color: var(--color-clr2);
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
.title-word {
  animation: color-animation 4s linear infinite;
}

@keyframes color-animation {
  0% {
    color: var(--color-bg1);
  }
  32% {
    color: var(--color-bg1);
  }
  33% {
    color: var(--color-bg2);
  }
  65% {
    color: var(--color-bg2);
  }
  66% {
    color: var(--color-clr2);
  }
  99% {
    color: var(--color-clr2);
  }
  100% {
    color: var(--color-bg1);
  }
}
.title {
  margin: 1rem 0 2, 4rem;
  font-weight: 600;
  font-size: 3vw;
  text-transform: none;
}

/*-------------------Services----------------*/
.services {
  background: var(--color-bg1);
  height: 35rem;
}

.services h1 {
  line-height: 1;
  margin-bottom: 3rem;
}

.services_container {
  display: grid;
  grid-template-columns: 40% 60%;
}

.expertise_left {
  margin-right: 4rem;
}

.expertise_left p {
  margin: 1rem 0 3rem;
  font-style: italic;
  font-size: large;
}

.services_right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.expertise {
  background: var(--color-bg2);
  padding: 2rem;
  border-radius: 1rem;
  transition: var(--transition);
}

.expertise:hover {
  box-shadow: 0 3rem 3rem var(--color-clr1);
  z-index: 1;
}

.expertise:nth-child(2) .expertise_icon {
  background: var(--color-clr1);
}

.expertise:nth-child(3) .expertise_icon {
  background: var(--color-clr1);
}

.expertise:nth-child(4) .expertise_icon {
  background: var(--color-clr1);
}

.expertise:nth-child(5) .expertise_icon {
  background: var(--color-clr1);
}

.expertise_icon {
  background: var(--color-clr1);
  padding: 0.7rem;
  border-radius: 0.9rem;
}

.expertise h5 {
  margin: 2rem 0 1rem;
  font-size: large;
}

.expertise p {
  font-size: 1rem;
}

/*-------------------Projects----------------*/
.projects {
  margin-top: 10rem;
}

.projects_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.project {
  background: var(--color-bg);
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.project:hover {
  background: transparent;
  border-color: var(--color-clr2-variant);
}

.project_info {
  padding: 2rem;
}

.project_info p {
  margin: 1.2rem 0 2rem;
  font-size: 0.9rem;
}

/*-------------------FAQs----------------*/
.faqs {
  background: var(--color-bg1);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.faq {
  padding: 2rem;
  display: flex;
  align-items: center;
  border-radius: 2rem;
  gap: 1.4rem;
  height: fit-content;
  background: var(--color-bg2);
}
.faq h4 {
  font-size: 1rem;
  line-height: 2.2;
}

.faq_icon {
  align-self: flex-start;
  font-size: 1.2rem;
}

.faq p {
  margin-top: 0.8rem;
  display: none;
}

.faq.open p {
  display: block;
}

/*-------------------Testimonials----------------*/
.testimonials_container {
  overflow-x: hidden;
  position: relative;
  margin-bottom: 5rem;
}

.testimonial {
  padding-top: 2rem;
}

.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1rem;
  border: 1rem solid var(--color-bg1);
}

.testimonial_info {
  text-align: center;
}

.testimonial_body {
  background: var(--color-bg2);
  padding: 2rem;
  margin-top: 3rem;
  position: relative;
  border-radius: 2rem;
}

.testimonial_body::before {
  content: "";
  display: block;
  background: linear-gradient(
    135deg,
    transparent,
    var(--color-bg2),
    var(--color-bg2),
    var(--color-bg2)
  );
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 50%;
  top: -1.5rem;
  transform: rotate(45deg);
}

/*-------------------Footer----------------*/
footer {
  background-color: var(--color-bg1);
  padding-top: 5rem;
  font-size: 0.9rem;
}

.footer_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.footer_container > div h4 {
  margin-bottom: 1.2rem;
}

.footer_1 p {
  margin-bottom: 0 0 2rem;
}

footer ul li {
  margin-bottom: 0.7rem;
}

footer ul li a:hover {
  text-decoration: underline;
}

.footer_socials {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.footer_copyright {
  text-align: center;
  margin-top: 4rem;
  padding: 1.2rem;
  border-top: 1px solid var(--color-bg2);
}

/*-----------Media Queries (Tablets)------------*/

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }

  /*-------------Navbar (Tablets)------------------------*/
  nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--color-white);
    cursor: pointer;
  }

  nav button#close-menu-btn {
    display: none;
  }

  .nav_menu {
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
  }

  .nav_menu li {
    width: 100%;
    height: 5.8rem;
    animation: animateNavItems 400ms linear forwards;
    transform-origin: top right;
    opacity: 0;
  }

  .nav_menu li:nth-child(2) {
    animation-delay: 100ms;
  }

  .nav_menu li:nth-child(3) {
    animation-delay: 200ms;
  }

  .nav_menu li:nth-child(4) {
    animation-delay: 300ms;
  }

  @keyframes animateNavItems {
    0% {
      transform: rotateZ(-90deg);
    }
    100% {
      transform: rotateZ(0);
      opacity: 1;
    }
  }
  .nav_menu li a {
    background: var(--color-bg1);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .nav_menu li a:hover {
    background: var(--color-bg2);
    color: var(--color-white);
  }

  /*-----------Header (Tablets)---------------------*/
  header {
    height: 52vh;
    margin-bottom: 4rem;
  }

  .header_container {
    gap: 0;
    padding-bottom: 3rem;
  }

  /*-----------Services (Tablets)---------------------*/
  .services {
    height: auto;
  }

  .services_container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .expertise_left {
    margin-right: 0;
  }

  /*-----------Projects (Tablets)---------------------*/
  .projects {
    margin-top: 0;
  }

  .projects_container {
    grid-template-columns: 1fr 1fr;
  }

  /*-----------FAQs (Tablets)---------------------*/
  .faqs_container {
    grid-template-columns: 1fr;
  }

  .faq {
    padding: 1.5rem;
  }

  /*-----------Footer (Tablets)---------------------*/
  .footer_container {
    grid-template-columns: 1fr 1fr;
  }
}

/*-----------Media Queries (Smartphones)------------*/
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  /*-------------Navbar (Smartphones)------------------------*/
  .nav_menu {
    right: 3%;
  }

  /*-----------Header (Smartphones)---------------------*/
  header {
    height: 100vh;
  }

  .header_container {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 0.1rem;
  }

  .header_left h1 {
    margin-bottom: 1.3 rem;
  }

  /*-----------Services (Smartphones)---------------------*/
  .services_right {
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
  }

  .expertise {
    padding: 1rem;
    border-radius: 1rem;
  }

  .expertise_icon {
    margin-top: 4px;
    display: inline-block;
  }

  /*-----------Projects (Smartphones)---------------------*/
  .projects_container {
    grid-template-columns: 1fr;
  }

  /*-----------Testimonilas (Smartphones)-----------------*/
  .testimonial_body {
    padding: 1.2rem;
  }

  /*-----------Footer (Smartphones)---------------------*/
  .footer_container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }

  .footer_1 p {
    margin: 1rem auto;
  }

  .footer_socials {
    justify-content: center;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}